/*
#2E2A2B
#08D961
#231F20
#FFFFFF
*/

/* 
fonts family 
itim 
ubuntu

*/

*{
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(-45deg, #08D961 35%,#2E2A2B 30%,#2E2A2B 70%, #fff 70%); */
    background: #2E2A2B;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #fff;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: 'Itim', cursive; */
    /* font-family: 'Ubuntu', sans-serif; */
     font-family: 'Caveat', cursive; /*NICE */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Playfair Display', serif; */
    font-size: 16px;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: all 0.5s ease-out; 
}
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; 
}
.menu-btn.close{
    transform: rotate(180deg); 
}
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); 
}
.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0; 
}
.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px); 
}  
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
}
.menu.show{
    visibility: visible;
}

.menu-branding, .menu-nav{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}
.menu-nav{
    padding: 0;
    margin: 0;
    list-style: none;
    background: #2E2A2B;
    opacity: .9;
    transform: translate(0, -100%);
    transition: all 0.5s ease-out; 
}
.menu-branding{
    background: #231F20;
    opacity: .9;
    transform: translate(0, 100%);
    transition: all 0.5s ease-out; 
}
.menu-branding.show,.menu-nav.show{
    transform: translate(0,0)
}

.menu .menu-branding .photo{
    background: url(../img/portrait.jpg);
    background-position: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
}
.menu-nav .nav-item{
    padding: 20px;
}
.menu-nav .nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
}

.menu-nav .nav-link.current, .menu-nav .nav-link:hover{
    color: rgb(255, 208, 0);
}

.container{
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    overflow: hidden;
}
.container-title{
    margin: 200px 0 0;
    margin-top: 200px;
    text-align: center;
}

.container-title .title{
    margin: 0;
    font-size: 150px;
    font-weight: 400;
}

.container-title .title span{
    margin-left: -20px;
    font-weight: 300;
    color: #EECE1A;
}
.container-title .presentation{
    text-align: center;
    font-family: sans-serif;
    /* margin: 0; */
    margin-top: -20px;
    font-size: 1.3em;
}



.container .technology{
    margin-top: 5vh;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .tech{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.technology img:nth-child(3){
    position: relative;
    top: -5px;
}
.technology img:nth-child(4){
    position: relative;
    top: -10px;
}

.footer .social-networks{
    color: rgba(0, 0, 0, 0.9);
    font-size: 2em;
    width: 26vw;
    text-align: center;
    margin: 15vh 0 0;
}
.footer .social-networks .icon{
    margin: 0 5px;
}
.footer .social-networks .icon:hover{
    animation: animationIcon 1000ms ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.footer .about-me{
    text-align: center;
    width: 26.66vw;
}

.footer .about-me p{
    font-family: sans-serif;
}
.bg-1, .bg-2{
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: -1;
}
.bg-1{
    /* background: linear-gradient(45deg, #08D961 33vw, transparent 33vw); */
    background: linear-gradient(45deg, rgb(30, 248, 125) 33vw, transparent 33vw);
}
.bg-2{
    background: linear-gradient(-45deg, #231F20 33vw, transparent 33vw);
    opacity: 0.8;
}












@keyframes animationIcon{
    0%{transform: scale(1) rotate(0deg);}
    5%{transform: scale(1.1);}
    10%{transform: scale(1.2);}
    15%{transform: scale(1.3);}
    20%{transform: scale(1.4);}
    25%{transform: scale(1.3) rotate(-20deg);}
    30%{transform: scale(1.2) rotate(20deg);}
    35%{transform: scale(1.1) rotate(-20deg);}
    40%{transform: scale(1) rotate(0deg);}
    50%{transform: scale(1) rotate(20deg);}
    60%{transform: scale(1) rotate(-20deg);}
    70%{transform: scale(1.1) }
    80%{transform: scale(1.2) }
    100%{transform: scale(1.3) }
}








/*  ------------------------------------------------------------------------------------------------------------ */

button {
  width: 200px;
  height: 80px;
  text-align: center;
  position: relative;
  background-color: transparent;
  border: 5px solid #DE4D3C;
  border-radius: 50px;
  color: #DE4D3C;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  transition: background-color 0.2s cubic-bezier(0.2, 0.65, 0.2, 1), width 0.3s cubic-bezier(0.2, 0.65, 0.2, 1);
  margin: 0 auto;
}
button:after {
  content: "";
  height: 0px;
  width: 6px;
  border-radius: 50px;
  position: absolute;
  top: 20%;
  left: 45%;
  transform-origin: center;
  background-color: #DE4D3C;
  visibility: hidden;
}
button:before {
  content: "";
  height: 0px;
  width: 6px;
  border-radius: 50px;
  position: absolute;
  top: 20%;
  left: 45%;
  transform-origin: center;
  background-color: #DE4D3C;
  visibility: hidden;
}
button:hover {
  cursor: pointer;
  background-color: #231F20;
  padding: 0;
  width: 80px;
  outline: none;
  font-size: 18px;
}
button:hover:after {
  height: 45px;
  width: 6px;
  visibility: visible;
  animation: x-animate-left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.25) normal 1 both;
  animation-delay: 0.1s;
}
button:hover:before {
  height: 45px;
  width: 6px;
  visibility: visible;
  animation: x-animate-right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.25) normal 1 both;
  animation-delay: 0.1s;
}

@keyframes x-animate-left {
  0% {
    transform: rotate(0deg) scaleY(0);
  }
  50% {
    transform: rotate(0deg) scaleY(1);
  }
  100% {
    transform: rotate(45deg) scaleY(1);
  }
}
@keyframes x-animate-right {
  0% {
    transform: rotate(0deg) scaleY(0);
  }
  50% {
    transform: rotate(0deg) scaleY(1);
  }
  100% {
    transform: rotate(-45deg) scaleY(1);
  }
}





/*  ------------------------------------------------------------------------------------------------------------ */
/* <div class="container">
  <button class="btn">Submit</button>
</div>









@import url('https://fonts.googleapis.com/css?family=Lato:900');

$black: rgb(25,25,25);

body,html{
  font-family:Lato, sans-serif;
  height:100%;
  font-size:16px;
}

.container{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  perspective: 400px;
}

.btn{
  letter-spacing: 2px;
  padding: 9px 30px;
  font-weight:900;
  text-transform:uppercase;
  background:transparent;
  border:none;
  border-radius: 100px;
  -webkit-box-shadow: inset 0px 0px 0px 4px rgba(0,0,0, 0.3);
  -moz-box-shadow: inset 0px 0px 0px 4px rgba(0,0,0, 0.3);
  box-shadow: inset 0px 0px 0px 4px rgba(0,0,0, 0.3);
  color:rgba(0,0,0, 0.3);
  transition-timing-function:ease-in-out;
  transition:0.3s all;
  transform:scale(1.0) rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  will-change: transform box-shadow;

  &:hover{
    color:#fff;
    -webkit-box-shadow: inset 0px 0px 0px 20px rgba($black, 1), 0px 10px 35px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 0px 20px rgba($black, 1), 0px 10px 35px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 0px 20px rgba($black, 1), 0px 10px 35px rgba(0,0,0,0.4);
  }
}



const btn = document.querySelector('.btn');

btn.addEventListener('mousemove', (e) => {
  const sensitivity = 30;
  const { offsetX, offsetY } = e;
  const { offsetHeight, offsetWidth} = e.target;

  const y = -((offsetX / offsetWidth) - 0.5) * sensitivity;
  const x = ((offsetY / offsetHeight) - 0.5) * sensitivity;

  btn.style.transform = `rotateX(${x}deg) rotateY(${y}deg) rotateZ(0) scale(1.2)`;
});

btn.addEventListener('mouseout', () => {
  btn.style.transform = "scale(1.0) rotateX(0) rotateY(0)";
}); */





