/*
#2E2A2B
#08D961
#231F20
#FFFFFF
*/
/* 
fonts family 
itim 
ubuntu
*/ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
    /* background: linear-gradient(-45deg, #08D961 35%,#2E2A2B 30%,#2E2A2B 70%, #fff 70%); */
    background: #2E2A2B;
    margin: 0;
    padding: 0;
    color: #fff;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: 'Itim', cursive; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Caveat', cursive; /*NICE */
    /* font-family: 'Bitter', serif; */
    /* font-family: 'Playfair Display', serif; */
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a6a6a6a6; 
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}
::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}



header{
    position: fixed;
    z-index: 2;
    width: 100vw;
}
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: all 0.5s ease-out; 
}
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; 
}
.menu-btn.close{
    transform: rotate(180deg); 
}
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); 
}
.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0; 
}
.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px); 
}  
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
}
.menu.show{
    visibility: visible;
}

.menu-branding, .menu-nav{
    width: calc(50.2vw - var(--scrollbar));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100vh;
}
.menu-nav{
    padding: 0;
    margin: 0;
    list-style: none;
    background: #2E2A2B;
    opacity: .9;
    transform: translate(0, -100%);
    transition: all 0.5s ease-out; 
}
.menu-branding{
    background: #231F20;
    opacity: .9;
    transform: translate(0, 100%);
    transition: all 0.5s ease-out; 
}
.menu-branding.show,.menu-nav.show{
    transform: translate(0,0)
}

.menu .menu-branding .photo{
    background: url(../img/portrait.jpg);
    background-position: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
}
.menu-nav .nav-item{
    padding: 20px;
}
.menu-nav .nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
}

.menu-nav .nav-link.current, .menu-nav .nav-link:hover{
    color: rgb(255, 208, 0);
}
main{
    position: relative;
}
.sn-menu{
    width: 6vw;
    background: #fff;
    position: fixed;
    box-shadow: 1px 0px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.logo-container{
  color: #000;
  padding: 0;
  margin: 3vh 0 0 0;
}
.logo-container img{
  width: 6vw;
}
.logo-container figcaption{
  margin: -10px 0 0 1.5vw;
  font-size: 2em;
  font-weight: bold;
}
.sn-menu .pagination{
    position: fixed; 
    display: flex;
    flex-direction: column;
    margin: 40vh 2.2vw;
    color: #fff;
}
.sn-menu .pagination .fa-circle{
    position: absolute;
    color: rgba(0,0,0, .85);
    font-size: 16px;
}

.sn-menu .social-networks{
    color: rgba(0, 0, 0, 0.9);
    font-size: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    padding-bottom: 1.5vh;
}
.sn-menu .social-networks .icon{
    margin: 8px auto;
}
.sn-menu .social-networks .icon:hover{
    animation: animationIcon 1000ms ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.container{
    margin: 0 auto;
    width: 90vw;
    height: 100vh;
    overflow-x: hidden;
}
.container-title{
    /* margin: 200px 0 0;
    margin-top: 200px; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-title .title{
    margin: 0;
    font-size: 150px;
    font-weight: 400;
}

.container-title .title span{
    margin-left: -20px;
    font-weight: 300;
    color: #EECE1A;
}
.container-title .presentation{
    text-align: center;
    font-family: sans-serif;
    margin-top: -20px;
    font-size: 1.3em;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-information{
    justify-content: flex-end;
    position: absolute;
    width: 90%;
    top: 75%;
    left: 50%;
    transform: translateX(-50%)
}
.contact-information .button-container{
    margin: 10px 8vw;
}

.contact-information .about-me{
    text-align: center;
    width: 28vw;
}

.contact-information .about-me p{
    font-family: sans-serif;
}
.bg-1, .bg-2{
    width: calc(94vw - var(--scrollbar));
    position: absolute;
    height: 100vh;
    z-index: -1;
}
.bg-1{
    /* background: linear-gradient(45deg, #08D961 33vw, transparent 33vw); */
    left: 6vw;
    background: linear-gradient(45deg, rgb(30, 248, 125) 33vw, transparent 33vw);
}
.bg-2{
    background: linear-gradient(-45deg, #231F20 33vw, transparent 33vw);
    opacity: 0.8;
    right: 0px;
}

@keyframes animationIcon{
    0%{transform: scale(1) rotate(0deg);}
    5%, 70%{transform: scale(1.1);}
    10%, 80%{transform: scale(1.2);}
    15%, 100%{transform: scale(1.3);}
    20%{transform: scale(1.4);}
    25%{transform: scale(1.3) rotate(-20deg);}
    30%{transform: scale(1.2) rotate(20deg);}
    35%{transform: scale(1.1) rotate(-20deg);}
    40%{transform: scale(1) rotate(0deg);}
    50%{transform: scale(1) rotate(20deg);}
    60%{transform: scale(1) rotate(-20deg);}
}

/* boton animaciones y estilos */
/*  ------------------------------------------------------------------------------------------------------------ */


.button-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 400px;
}

.btn {
    font-family: sans-serif;
    font-size: 1.7em;
    padding: 17px 38px;
    background: transparent;
    border: none;
    border-radius: 100px;
    -webkit-box-shadow: inset 0px 0px 0px 4px #DE4D3C;
    -moz-box-shadow: inset 0px 0px 0px 4px #DE4D3C;
    box-shadow: inset 0px 0px 0px 4px #DE4D3C;
    color: #DE4D3C;
    transition-timing-function: ease-in-out;
    transition: 0.3s all;
    transform: scale(1) rotateX(0) rotateY(0);
    transform-style: preserve-3d;
    will-change: transform box-shadow;
}
.btn:hover {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 40px #DE4D3C, 0px 6px 15px #000 ;
    -moz-box-shadow: inset 0px 0px 0px 40px #DE4D3C, 0px 6px 15px #000 ;
    box-shadow: inset 0px 0px 0px 40px #DE4D3C, 0px 6px 15px #000;
}






/*  -------------------------------------------------------SKILLS--------------------------------------------------- */
.my-skills, .projects, .footer{
    text-align: center;
    background: url('../img/texturas/asfalt-dark.png');
    background-attachment: fixed;
}

.subtitle{
    font-size: 3em;
    font-weight: 300;
    margin-top: 50px;
}
.card-container{
    width: 80vw;
    margin: 20px auto 0 auto;
    display: flex;
    color: #000;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 4vw;
}
.card{
    width: 28%;
    max-width: 500px;
    height: 42vh;
    max-height: 500px;
    position: relative;
    text-align: center;
    background: #FFF; 
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.card-header{
    overflow: hidden;
    height: 45%;
    display: flex;
    align-items: center;
}

.card-header img{   
    width: 100%;
    height: auto;
}
.card-body{
    padding: 10px 20px;
    position: relative;
    height: 55%;
}

.card-title{
    font-size: 1.8em;
    font-weight: 300;
    margin-bottom: 5px;
}
.text{
    font-family: sans-serif;
    font-size: .85em;
}

.card-body .btn{
    font-size: 1em;
    padding: 8px 15px;    
    display: inline-block;
    -webkit-box-shadow: inset 0px 0px 0px 2px #DE4D3C;
    -moz-box-shadow: inset 0px 0px 0px 2px #DE4D3C;
    box-shadow: inset 0px 0px 0px 2px #DE4D3C;
}
.card-body .btn:hover{
    cursor: pointer;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 40px #DE4D3C ;
    -moz-box-shadow: inset 0px 0px 0px 40px #DE4D3C ;
    box-shadow: inset 0px 0px 0px 40px #DE4D3C;
    transform: scale(1.08);
}

.card-body .row{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0px;
    transform: translateY(-25%);
    /*margin-top: -10px;*/
    /*height: 50px;*/
}
.card-body .row .heart{
    width: 100px;
    height: 100px;
    background-size: 2900px 100px;
    background-image: url(../img/corazon.png);
}

.card-body .row .heart.is-like{
    animation-duration: 1s;
    animation-timing-function: steps(28);
    animation-name: like;
    animation-fill-mode: forwards;
}

.card-body .like{
    font-size: 1.5em;
    margin-left: -30px;
}

@keyframes like{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: right;
    }
}